In [22]:
import pandas as pd
import numpy as np
import os
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

pd.set_option('display.max_columns', 500)
import warnings
warnings.filterwarnings('ignore')

In [23]:
#Base Directories
os.chdir = r"C:\Users\wikto\OneDrive - SGH\Documents\SGH\Data_science_II"

In [24]:
#read all the available files / tables and create a set of all the unique columns available
list_of_files = os.listdir('./Telecommunications_Industry')
list_of_files

['CustomerChurn.xlsx',
 'Telco_customer_churn.xlsx',
 'Telco_customer_churn_demographics.xlsx',
 'Telco_customer_churn_location.xlsx',
 'Telco_customer_churn_population.xlsx',
 'Telco_customer_churn_services.xlsx',
 'Telco_customer_churn_status.xlsx']

In [25]:
set_of_columns_available = set()

for file in list_of_files:
    if ".xlsx" in file:
        df = pd.read_excel('./Telecommunications_Industry/' + file)
        cols_in_df = df.columns.tolist()
        
        set_of_columns_available.update(cols_in_df)
        print("Columns in file:", file, "are", cols_in_df)
        print()
        
print("Total number of attributes / columns available :", len(set_of_columns_available))
print(set_of_columns_available)

Columns in file: CustomerChurn.xlsx are ['LoyaltyID', 'Customer ID', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn']

Columns in file: Telco_customer_churn.xlsx are ['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Reason']

Columns in file: Telco_customer_churn_demographics.xlsx are ['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married', 'Dependents', 'Number of Dependents']

Columns in file: Telco_customer_churn_location.xlsx are ['Location ID', 'Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude']

Columns in file: Telco_customer_churn_population.xlsx are ['ID', 'Zip Code', 'Population']

Columns in file: Telco_customer_churn_services.xlsx are ['Service ID', 'Customer ID', 'Count', 'Quarter', 'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Avg Monthly GB Download', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue']

Columns in file: Telco_customer_churn_status.xlsx are ['Status ID', 'Customer ID', 'Count', 'Quarter', 'Satisfaction Score', 'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason']

Total number of attributes / columns available : 66
{'Contract', 'ID', 'Offer', 'Churn Category', 'Longitude', 'State', 'Monthly Charge', 'Total Revenue', 'Internet Type', 'Churn Label', 'Under 30', 'Churn', 'Tenure in Months', 'Status ID', 'Total Refunds', 'Online Security', 'Internet Service', 'Total Charges', 'Streaming TV', 'Device Protection', 'Streaming Movies', 'Online Backup', 'Country', 'Zip Code', 'Lat Long', 'Count', 'Senior Citizen', 'Referred a Friend', 'Streaming Music', 'Payment Method', 'Customer ID', 'Premium Tech Support', 'Population', 'Avg Monthly GB Download', 'Location ID', 'Age', 'Churn Score', 'Satisfaction Score', 'Latitude', 'Tenure Months', 'Married', 'Service ID', 'Avg Monthly Long Distance Charges', 'Partner', 'CLTV', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Unlimited Data', 'Paperless Billing', 'LoyaltyID', 'City', 'Number of Dependents', 'Tech Support', 'Tenure', 'Quarter', 'Phone Service', 'Device Protection Plan', 'Gender', 'Churn Reason', 'Churn Value', 'CustomerID', 'Multiple Lines', 'Dependents', 'Number of Referrals', 'Customer Status', 'Monthly Charges'}

In [26]:
# Combine multiple files using Customer ID as primary key
# first read all the tables dataframes

df = pd.read_excel('./Telecommunications_Industry/' + "Telco_customer_churn.xlsx")

# There are two ways "Customer ID" is written in column names: one with and one without space 
# Fix column name to "Customer ID" in "Telco_customer_churn.xlsx" file
df = df.rename(columns = {'CustomerID':'Customer ID'})

list_of_xlsxs = ['CustomerChurn.xlsx', 
                'Telco_customer_churn_demographics.xlsx',
                'Telco_customer_churn_location.xlsx',
                'Telco_customer_churn_population.xlsx',
                'Telco_customer_churn_services.xlsx',
                'Telco_customer_churn_status.xlsx']

for file in list_of_xlsxs:
    temp = pd.read_excel('./Telecommunications_Industry/' + file)

    if "Customer ID" in temp.columns.tolist():
        df = pd.merge(df, temp, on = "Customer ID", how = "left", suffixes=('', '_remove'))
        #df.join(temp.set_index("Customer ID"), on = "Customer ID") 
    else:
        df = pd.merge(df, temp, on = "Zip Code", how = "left", suffixes=('', '_remove'))
            
# remove the duplicate columns
df.drop([i for i in df.columns if 'remove' in i], axis = 1, inplace = True)

print("Total Number of columns : ", len(df.columns))
print("List of columns :", df.columns.tolist())

Total Number of columns :  65
List of columns : ['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Reason', 'LoyaltyID', 'Tenure', 'Churn', 'Age', 'Under 30', 'Married', 'Number of Dependents', 'Location ID', 'ID', 'Population', 'Service ID', 'Quarter', 'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer', 'Avg Monthly Long Distance Charges', 'Internet Type', 'Avg Monthly GB Download', 'Device Protection Plan', 'Premium Tech Support', 'Streaming Music', 'Unlimited Data', 'Monthly Charge', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue', 'Status ID', 'Satisfaction Score', 'Customer Status', 'Churn Category']

In [27]:
df.head()

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,LoyaltyID,Tenure,Churn,Age,Under 30,Married,Number of Dependents,Location ID,ID,Population,Service ID,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Avg Monthly Long Distance Charges,Internet Type,Avg Monthly GB Download,Device Protection Plan,Premium Tech Support,Streaming Music,Unlimited Data,Monthly Charge,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Status ID,Satisfaction Score,Customer Status,Churn Category
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,326527,2,Yes,37,No,No,0,PZZUIT6837,3,58198,ZLZTZWPWE3351,Q3,No,0,2,NaN,10.47,DSL,21,No,No,No,Yes,53.85,0.0,0,20.94,129.09,SUDNGT6444,1,Churned,Competitor
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,503388,2,Yes,19,Yes,No,2,CKNALR2542,5,43019,GXJVSQIYH4715,Q3,No,0,2,NaN,9.12,Fiber Optic,51,No,No,No,Yes,70.70,0.0,0,18.24,169.89,KZSZDV8891,2,Churned,Other
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,160192,8,Yes,31,No,No,2,VCQKYE1638,6,62784,KDUHHRQBI5663,Q3,No,0,8,NaN,12.15,Cable,26,Yes,No,Yes,Yes,99.65,0.0,0,97.20,917.70,EPTIUU1269,3,Churned,Other
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,582674,28,Yes,23,Yes,Yes,3,SNLISG8671,9,1957,WXXQTNEZW3786,Q3,No,0,28,Offer C,4.89,Fiber Optic,47,Yes,Yes,Yes,Yes,104.80,0.0,0,136.92,3182.97,PAJIVH8196,3,Churned,Other
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,933642,49,Yes,38,No,No,1,YTSGZA8582,14,15140,LTNFDWAMC2575,Q3,No,0,49,NaN,44.33,Fiber Optic,11,Yes,No,Yes,Yes,103.70,0.0,0,2172.17,7208.47,RXFOMV1173,1,Churned,Competitor

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 65 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Country                            7043 non-null   object
 3   State                              7043 non-null   object
 4   City                               7043 non-null   object
 5   Zip Code                           7043 non-null   int64
 6   Lat Long                           7043 non-null   object
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Gender                             7043 non-null   object
 10  Senior Citizen                     7043 non-null   object
 11  Partner                            7043 non-null   object
 12  Dependents                         7043 non-null   object
 13  Tenure Months                      7043 non-null   int64
 14  Phone Service                      7043 non-null   object
 15  Multiple Lines                     7043 non-null   object
 16  Internet Service                   7043 non-null   object
 17  Online Security                    7043 non-null   object
 18  Online Backup                      7043 non-null   object
 19  Device Protection                  7043 non-null   object
 20  Tech Support                       7043 non-null   object
 21  Streaming TV                       7043 non-null   object
 22  Streaming Movies                   7043 non-null   object
 23  Contract                           7043 non-null   object
 24  Paperless Billing                  7043 non-null   object
 25  Payment Method                     7043 non-null   object
 26  Monthly Charges                    7043 non-null   float64
 27  Total Charges                      7043 non-null   object
 28  Churn Label                        7043 non-null   object
 29  Churn Value                        7043 non-null   int64
 30  Churn Score                        7043 non-null   int64
 31  CLTV                               7043 non-null   int64
 32  Churn Reason                       1869 non-null   object
 33  LoyaltyID                          7043 non-null   int64
 34  Tenure                             7043 non-null   int64
 35  Churn                              7043 non-null   object
 36  Age                                7043 non-null   int64
 37  Under 30                           7043 non-null   object
 38  Married                            7043 non-null   object
 39  Number of Dependents               7043 non-null   int64
 40  Location ID                        7043 non-null   object
 41  ID                                 7043 non-null   int64
 42  Population                         7043 non-null   int64
 43  Service ID                         7043 non-null   object
 44  Quarter                            7043 non-null   object
 45  Referred a Friend                  7043 non-null   object
 46  Number of Referrals                7043 non-null   int64
 47  Tenure in Months                   7043 non-null   int64
 48  Offer                              3166 non-null   object
 49  Avg Monthly Long Distance Charges  7043 non-null   float64
 50  Internet Type                      5517 non-null   object
 51  Avg Monthly GB Download            7043 non-null   int64
 52  Device Protection Plan             7043 non-null   object
 53  Premium Tech Support               7043 non-null   object
 54  Streaming Music                    7043 non-null   object
 55  Unlimited Data                     7043 non-null   object
 56  Monthly Charge                     7043 non-null   float64
 57  Total Refunds                      7043 non-null   float64
 58  Total Extra Data Charges           7043 non-null   int64
 59  Total Long Distance Charges        7043 non-null   float64
 60  Total Revenue                      7043 non-null   float64
 61  Status ID                          7043 non-null   object
 62  Satisfaction Score                 7043 non-null   int64
 63  Customer Status                    7043 non-null   object
 64  Churn Category                     1869 non-null   object
dtypes: float64(8), int64(17), object(40)
memory usage: 3.5+ MB

In [29]:
columns_with_null_values = [(col, df[col].isnull().sum()) for col in df.columns.tolist() if df[col].isnull().sum() > 0]
columns_with_null_values

[('Churn Reason', 5174),
 ('Offer', 3877),
 ('Internet Type', 1526),
 ('Churn Category', 5174)]

In [30]:
for i in columns_with_null_values:
    # print(i[0])
    print(i[0],'\n', df[i[0]].unique(),'\n')

Churn Reason
 ['Competitor made better offer' 'Moved' 'Competitor had better devices'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Price too high' 'Product dissatisfaction'
 'Service dissatisfaction' 'Lack of self-service on Website'
 'Network reliability' 'Limited range of services'
 'Lack of affordable download/upload speed' 'Long distance charges'
 'Extra data charges' "Don't know" 'Poor expertise of online support'
 'Poor expertise of phone support' 'Attitude of service provider'
 'Attitude of support person' 'Deceased' nan]

Offer
 [nan 'Offer C' 'Offer E' 'Offer D' 'Offer A' 'Offer B']

Internet Type
 ['DSL' 'Fiber Optic' 'Cable' nan]

Churn Category
 ['Competitor' 'Other' 'Price' 'Dissatisfaction' 'Attitude' nan]

In [31]:
# replacing na values in "Churn Reason" with "Not Churned"
df["Churn Reason"] = df["Churn Reason"].fillna("Not Churned")

# replacing na values in "Churn Category" with "Not Applicable"
df["Churn Category"] = df["Churn Category"].fillna("Not Applicable")

# replacing na values in "Internet Type" with "Other"
df["Internet Type"] = df["Internet Type"].fillna("Other")

# replacing na values in "Offer" with "Offer F"
df["Offer"] = df["Offer"].fillna("Offer F")

In [32]:
for i in df.columns:
    print(i, df[i].unique())

Customer ID ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
Count [1]
Country ['United States']
State ['California']
City ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Standish' 'Tulelake'
 'Olympic Valley']
Zip Code [90003 90005 90006 ... 96128 96134 96146]
Lat Long ['33.964131, -118.272783' '34.059281, -118.30742' '34.048013, -118.293953'
 ... '40.346634, -120.386422' '41.813521, -121.492666'
 '39.191797, -120.212401']
Latitude [33.964131 34.059281 34.048013 ... 40.346634 41.813521 39.191797]
Longitude [-118.272783 -118.30742  -118.293953 ... -120.386422 -121.492666
 -120.212401]
Gender ['Male' 'Female']
Senior Citizen ['No' 'Yes']
Partner ['No' 'Yes']
Dependents ['No' 'Yes']
Tenure Months [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72
  0]
Phone Service ['Yes' 'No']
Multiple Lines ['No' 'Yes' 'No phone service']
Internet Service ['DSL' 'Fiber optic' 'No']
Online Security ['Yes' 'No' 'No internet service']
Online Backup ['Yes' 'No' 'No internet service']
Device Protection ['No' 'Yes' 'No internet service']
Tech Support ['No' 'Yes' 'No internet service']
Streaming TV ['No' 'Yes' 'No internet service']
Streaming Movies ['No' 'Yes' 'No internet service']
Contract ['Month-to-month' 'Two year' 'One year']
Paperless Billing ['Yes' 'No']
Payment Method ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Monthly Charges [ 53.85  70.7   99.65 ... 108.35  63.1   78.7 ]
Total Charges [108.15 151.65 820.5 ... 7362.9 346.45 6844.5]
Churn Label ['Yes' 'No']
Churn Value [1 0]
Churn Score [ 86  67  84  89  78 100  92  77  97  74  66  65  70  90  82  69  81  96
  87  88  75  76  95  99  80  73  94  83  98  71  85  68  91  93  72  79
  27  61  43  51  58  39  35  57  53  21  38  40  41  22  25  64  49  62
  52  59  29  33  20  30  26  54  56  55  28  37   9  60  24  63  23  47
  32   8  46  42  48  36  34   7  50  44  31   5  45]
CLTV [3239 2701 5372 ... 2770 4645 5553]
Churn Reason ['Competitor made better offer' 'Moved' 'Competitor had better devices'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Price too high' 'Product dissatisfaction'
 'Service dissatisfaction' 'Lack of self-service on Website'
 'Network reliability' 'Limited range of services'
 'Lack of affordable download/upload speed' 'Long distance charges'
 'Extra data charges' "Don't know" 'Poor expertise of online support'
 'Poor expertise of phone support' 'Attitude of service provider'
 'Attitude of support person' 'Deceased' 'Not Churned']
LoyaltyID [326527 503388 160192 ... 230811 155157 353947]
Tenure [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72
  0]
Churn ['Yes' 'No']
Age [37 19 31 23 38 21 78 29 61 27 20 56 51 48 32 34 74 71 41 30 26 80 62 72
 64 45 76 53 63 42 66 24 70 77 54 39 43 50 22 40 65 47 67 68 60 52 69 55
 79 59 49 58 25 28 33 44 75 57 73 46 36 35]
Under 30 ['No' 'Yes']
Married ['No' 'Yes']
Number of Dependents [0 2 3 1 5 4 6 7 8 9]
Location ID ['PZZUIT6837' 'CKNALR2542' 'VCQKYE1638' ... 'IIQJBU2929' 'PBNAHR7564'
 'TJZLUX4957']
ID [   3    5    6 ... 1656 1660 1668]
Population [58198 43019 62784 ...   408  2595   942]
Service ID ['ZLZTZWPWE3351' 'GXJVSQIYH4715' 'KDUHHRQBI5663' ... 'QSHQPZAYF6519'
 'PMJLYZGVQ7211' 'BILLTTPVG8428']
Quarter ['Q3']
Referred a Friend ['No' 'Yes']
Number of Referrals [ 0  6  1  4  5  2  3  7  9  8 10 11]
Tenure in Months [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72]
Offer ['Offer F' 'Offer C' 'Offer E' 'Offer D' 'Offer A' 'Offer B']
Avg Monthly Long Distance Charges [10.47  9.12 12.15 ... 44.98  8.62  9.08]
Internet Type ['DSL' 'Fiber Optic' 'Cable' 'Other']
Avg Monthly GB Download [21 51 26 47 11 69  8  0 16 58 41 28 18 19 20 17 52 29 57 53 56 12 27 14
 30 71 48 22  3 24 73 76  9  7 15  2 10  5 59 13 25 23 82  4 42  6 39 85
 46 75]
Device Protection Plan ['No' 'Yes']
Premium Tech Support ['No' 'Yes']
Streaming Music ['No' 'Yes']
Unlimited Data ['Yes' 'No']
Monthly Charge [ 53.85  70.7   99.65 ... 108.35  63.1   78.7 ]
Total Refunds [ 0.   45.61 13.43  8.74  4.48 36.6  33.43 40.95 45.44 18.55 11.05 33.21
 48.25 21.72 21.69 14.22 45.37 27.6  10.17 36.44 13.03 23.89 11.   34.29
 48.26 35.82 15.73  9.36 19.67 39.27 41.85 40.   12.81  4.73 27.38 14.24
 29.84 49.57 12.07 40.64 10.2  17.88 37.55 48.09 32.46 20.23 12.59 43.31
  8.13 46.64 23.33 47.2  33.25 33.73 49.06 25.79 15.24 26.99 44.58 20.16
  8.88 12.48  6.79 39.29 44.31 13.01 11.45 28.35  7.39 35.05 41.18 30.46
 48.61 26.02 38.48 14.23 40.15 48.95 24.44  9.68 23.72 20.29 48.54  4.96
 18.21  1.27 22.96 28.49 19.5   8.35 35.7  17.01 34.69  4.93 35.34 18.39
 27.3  44.16 34.09 36.61 18.72 44.63 23.97 38.42  1.48  2.93 10.76 20.28
 42.18 40.79 25.67 20.45 41.21  2.29 24.08 36.29 30.26  4.6  41.67 15.62
 46.78 14.49 25.84 16.97 23.67 46.56 27.09 10.23 15.57 26.55  3.2  21.6
 17.14  5.73 32.09  1.83 47.19 14.21 38.15  8.3  31.39 12.55 11.48 43.38
 49.37  9.34 38.61 37.06 43.25 23.28 45.07 44.9  23.61 19.89 38.84  1.01
 14.67 37.37 21.32 36.04 49.51 47.91 11.72 29.76  1.99 40.62 18.84 47.04
  5.49  9.49 29.17 19.25 45.69 29.88 39.93 26.98 11.83 16.58 17.16 18.85
 37.64 41.2  12.19  9.22 33.8   9.73 46.07 47.87 39.99 14.76  2.24 42.89
 16.12 38.37 47.36 33.76 12.8  23.01 12.16 45.75 28.42 37.03 38.46 46.66
 35.61 18.89  1.66 17.6  21.35 29.32 23.92 45.81 49.53 21.52 29.   29.99
 21.08 36.4  21.17  6.26 17.91 34.67 28.93 41.23 47.73 40.46 15.41 29.5
 16.86 42.64  1.31 10.57 34.44 13.07 22.34 43.95 37.44 25.57 14.93 46.75
 38.98 28.7   2.28 47.02 16.85 29.11 32.55  5.44 27.79 43.68 41.74 16.73
  2.18  3.26 26.87 10.47 27.15 45.82 39.18 31.05  6.65 15.2   1.69 43.66
 24.36 27.89  6.11  7.43 25.07 37.45 34.16 17.5  11.37 46.81 48.66 15.02
 36.52 38.09 19.63 45.47 39.92 22.55 24.98  3.34 17.05 38.33 47.79 24.92
 40.54  5.55 30.22  5.47 44.   28.98 49.38 37.68 18.17 36.38 26.83 29.21
 18.88 33.67 17.3  17.03  3.55 25.62 18.62  9.39  5.9   5.01 42.57 42.43
  4.7  21.53 21.58 35.28 28.83 38.57 29.41 10.65 42.29 16.38 36.66 39.45
 29.64 26.32 11.85 16.26 20.17 32.59 16.36 22.53  6.72 36.22 38.34 28.08
 17.96 33.29 21.71 36.78 30.75 25.55 17.19 33.1  32.71  4.76 44.81  3.33
 19.16 31.58  1.09 18.64 44.17 24.9  15.38  5.15  6.41 41.66 46.06 33.13
 12.66 48.79  3.59 44.86 34.83 49.79 44.53 47.45 13.37  2.81 44.13 23.13
  2.76 46.99 23.16 44.42 48.59 11.8  17.17 15.76  2.97 15.31 45.54 14.15
 32.53 22.97 21.25 36.02 39.68 23.39 20.87 17.76 33.07 26.7   3.85  3.51
 35.23  9.48 36.13 44.51  4.08 34.45 16.96 16.91 43.12 49.76 23.5  29.95
  9.99 33.24 28.63 10.7  36.92 27.01 42.34 34.47  9.79 26.37  8.96 21.9
  4.25 16.56 10.28 46.67 14.78 49.23 35.01  9.35 37.04 49.24 32.65 39.15
 18.78 14.57 49.22 16.27  5.83 35.44 29.29 47.59 46.39 24.07  8.5  23.47
 29.59 28.09  6.49 34.59 47.55 37.01 43.76 25.98 12.26 37.49 19.13  1.65
 31.9  21.81 15.17 14.3  22.72  8.53 46.26 15.43 25.49 17.33 45.6  25.24
  2.62 36.07 29.93 23.79 22.4  16.89  7.3  16.99 41.33 30.45 30.14 24.99
 30.53 32.24  4.68  4.18  2.21 19.32 25.92 45.46 25.42 43.96 38.65 49.02
 19.12 20.19 26.84 40.41 19.31 48.23 45.38 27.24]
Total Extra Data Charges [  0  20  80  10  40 120  90 140 100  30  60 110 130  70 150  50]
Total Long Distance Charges [  20.94   18.24   97.2  ...  865.2  2135.52 2043.36]
Total Revenue [ 129.09  169.89  917.7  ... 9453.04  319.21 8887.86]
Status ID ['SUDNGT6444' 'KZSZDV8891' 'EPTIUU1269' ... 'AODCBE7865' 'GLQPEW3973'
 'KCNRPQ8327']
Satisfaction Score [1 2 3 4 5]
Customer Status ['Churned' 'Joined' 'Stayed']
Churn Category ['Competitor' 'Other' 'Price' 'Dissatisfaction' 'Attitude'
 'Not Applicable']

In [33]:
df['Total Charges'].unique()

array([108.15, 151.65, 820.5, ..., 7362.9, 346.45, 6844.5], dtype=object)

In [34]:
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

In [35]:
df['Total Charges'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: Total Charges
Non-Null Count  Dtype
--------------  -----
7032 non-null   float64
dtypes: float64(1)
memory usage: 55.1 KB

In [36]:
# Replace that with 0.0
df["Total Charges"] = np.where(df["Total Charges"] == " ", '0.0', df["Total Charges"])

In [37]:
df.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV,LoyaltyID,Tenure,Age,Number of Dependents,ID,Population,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755,550382.651001,32.371149,46.509726,0.468692,795.888542,21181.589238,1.951867,32.386767,22.958954,20.515405,64.761692,1.962182,6.860713,749.099262,3034.379056,3.244924
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152,260776.118690,24.559481,16.750352,0.962802,491.448525,20901.246553,3.001199,24.542061,15.448113,20.418940,30.090047,7.902614,25.104978,846.660055,2865.204542,1.201657
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000,100346.000000,0.000000,19.000000,0.000000,1.000000,11.000000,0.000000,1.000000,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,21.360000,1.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000,323604.500000,9.000000,32.000000,0.000000,354.000000,2048.000000,0.000000,9.000000,9.210000,3.000000,35.500000,0.000000,0.000000,70.545000,605.610000,3.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000,548704.000000,29.000000,46.000000,0.000000,780.000000,15975.000000,0.000000,29.000000,22.890000,17.000000,70.350000,0.000000,0.000000,401.440000,2108.640000,3.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000,776869.000000,55.000000,60.000000,0.000000,1221.000000,34146.000000,3.000000,55.000000,36.395000,27.000000,89.850000,0.000000,0.000000,1191.100000,4801.145000,4.000000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000,999912.000000,72.000000,80.000000,9.000000,1671.000000,105285.000000,11.000000,72.000000,49.990000,85.000000,118.750000,49.790000,150.000000,3564.720000,11979.340000,5.000000

In [38]:
for col in df.columns.tolist():
    print(col)
    print("Number of unique values:", df[col].nunique())
    print("Unique Values:", df[col].unique()[:10])
    
    if(df[col].dtype == 'int64' or df[col].dtype == 'float64'):
        print("max :", df[col].max())
        print("min :", df[col].min())

    print()

Customer ID
Number of unique values: 7043
Unique Values: ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' '7892-POOKP' '0280-XJGEX'
 '4190-MFLUW' '8779-QRDMV' '1066-JKSGK' '6467-CHFZW' '8665-UTDHZ']

Count
Number of unique values: 1
Unique Values: [1]
max : 1
min : 1

Country
Number of unique values: 1
Unique Values: ['United States']

State
Number of unique values: 1
Unique Values: ['California']

City
Number of unique values: 1129
Unique Values: ['Los Angeles' 'Beverly Hills' 'Huntington Park' 'Lynwood'
 'Marina Del Rey' 'Inglewood' 'Santa Monica' 'Torrance' 'Whittier'
 'La Habra']

Zip Code
Number of unique values: 1652
Unique Values: [90003 90005 90006 90010 90015 90020 90022 90024 90028 90029]
max : 96161
min : 90001

Lat Long
Number of unique values: 1652
Unique Values: ['33.964131, -118.272783' '34.059281, -118.30742' '34.048013, -118.293953'
 '34.062125, -118.315709' '34.039224, -118.266293'
 '34.066367, -118.309868' '34.02381, -118.156582' '34.066303, -118.435479'
 '34.099869, -118.326843' '34.089953, -118.294824']

Latitude
Number of unique values: 1652
Unique Values: [33.964131 34.059281 34.048013 34.062125 34.039224 34.066367 34.02381
 34.066303 34.099869 34.089953]
max : 41.962127
min : 32.555828

Longitude
Number of unique values: 1651
Unique Values: [-118.272783 -118.30742  -118.293953 -118.315709 -118.266293 -118.309868
 -118.156582 -118.435479 -118.326843 -118.294824]
max : -114.192901
min : -124.301372

Gender
Number of unique values: 2
Unique Values: ['Male' 'Female']

Senior Citizen
Number of unique values: 2
Unique Values: ['No' 'Yes']

Partner
Number of unique values: 2
Unique Values: ['No' 'Yes']

Dependents
Number of unique values: 2
Unique Values: ['No' 'Yes']

Tenure Months
Number of unique values: 73
Unique Values: [ 2  8 28 49 10  1 47 17  5 34]
max : 72
min : 0

Phone Service
Number of unique values: 2
Unique Values: ['Yes' 'No']

Multiple Lines
Number of unique values: 3
Unique Values: ['No' 'Yes' 'No phone service']

Internet Service
Number of unique values: 3
Unique Values: ['DSL' 'Fiber optic' 'No']

Online Security
Number of unique values: 3
Unique Values: ['Yes' 'No' 'No internet service']

Online Backup
Number of unique values: 3
Unique Values: ['Yes' 'No' 'No internet service']

Device Protection
Number of unique values: 3
Unique Values: ['No' 'Yes' 'No internet service']

Tech Support
Number of unique values: 3
Unique Values: ['No' 'Yes' 'No internet service']

Streaming TV
Number of unique values: 3
Unique Values: ['No' 'Yes' 'No internet service']

Streaming Movies
Number of unique values: 3
Unique Values: ['No' 'Yes' 'No internet service']

Contract
Number of unique values: 3
Unique Values: ['Month-to-month' 'Two year' 'One year']

Paperless Billing
Number of unique values: 2
Unique Values: ['Yes' 'No']

Payment Method
Number of unique values: 4
Unique Values: ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Monthly Charges
Number of unique values: 1585
Unique Values: [ 53.85  70.7   99.65 104.8  103.7   55.2   39.65  20.15  99.35  30.2 ]
max : 118.75
min : 18.25

Total Charges
Number of unique values: 6531
Unique Values: ['108.15' '151.65' '820.5' '3046.05' '5036.3' '528.35' '39.65' '20.15'
 '4749.15' '30.2']

Churn Label
Number of unique values: 2
Unique Values: ['Yes' 'No']

Churn Value
Number of unique values: 2
Unique Values: [1 0]
max : 1
min : 0

Churn Score
Number of unique values: 85
Unique Values: [ 86  67  84  89  78 100  92  77  97  74]
max : 100
min : 5

CLTV
Number of unique values: 3438
Unique Values: [3239 2701 5372 5003 5340 5925 5433 4832 5789 2915]
max : 6500
min : 2003

Churn Reason
Number of unique values: 21
Unique Values: ['Competitor made better offer' 'Moved' 'Competitor had better devices'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Price too high' 'Product dissatisfaction'
 'Service dissatisfaction' 'Lack of self-service on Website'
 'Network reliability']

LoyaltyID
Number of unique values: 7021
Unique Values: [326527 503388 160192 582674 933642 587516 352579 792781 100681 512358]
max : 999912
min : 100346

Tenure
Number of unique values: 73
Unique Values: [ 2  8 28 49 10  1 47 17  5 34]
max : 72
min : 0

Churn
Number of unique values: 2
Unique Values: ['Yes' 'No']

Age
Number of unique values: 62
Unique Values: [37 19 31 23 38 21 78 29 61 27]
max : 80
min : 19

Under 30
Number of unique values: 2
Unique Values: ['No' 'Yes']

Married
Number of unique values: 2
Unique Values: ['No' 'Yes']

Number of Dependents
Number of unique values: 10
Unique Values: [0 2 3 1 5 4 6 7 8 9]
max : 9
min : 0

Location ID
Number of unique values: 7043
Unique Values: ['PZZUIT6837' 'CKNALR2542' 'VCQKYE1638' 'SNLISG8671' 'YTSGZA8582'
 'KOMIRT9587' 'OXCZEW7397' 'JCBHAM3275' 'JTZSGZ3269' 'LQRUCI7526']

ID
Number of unique values: 1652
Unique Values: [ 3  5  6  9 14 19 21 23 27 28]
max : 1671
min : 1

Population
Number of unique values: 1592
Unique Values: [58198 43019 62784  1957 15140 42394 68701 44150 30568 41713]
max : 105285
min : 11

Service ID
Number of unique values: 7043
Unique Values: ['ZLZTZWPWE3351' 'GXJVSQIYH4715' 'KDUHHRQBI5663' 'WXXQTNEZW3786'
 'LTNFDWAMC2575' 'QZHIEUACV4669' 'IJKDQVSWH3522' 'HUECCFXUA3474'
 'KOMTNOZKM8932' 'WYDPKDJBJ4382']

Quarter
Number of unique values: 1
Unique Values: ['Q3']

Referred a Friend
Number of unique values: 2
Unique Values: ['No' 'Yes']

Number of Referrals
Number of unique values: 12
Unique Values: [0 6 1 4 5 2 3 7 9 8]
max : 11
min : 0

Tenure in Months
Number of unique values: 72
Unique Values: [ 2  8 28 49 10  1 47 17  5 34]
max : 72
min : 1

Offer
Number of unique values: 6
Unique Values: ['Offer F' 'Offer C' 'Offer E' 'Offer D' 'Offer A' 'Offer B']

Avg Monthly Long Distance Charges
Number of unique values: 3584
Unique Values: [10.47  9.12 12.15  4.89 44.33  9.41  0.   33.58 31.35 40.55]
max : 49.99
min : 0.0

Internet Type
Number of unique values: 4
Unique Values: ['DSL' 'Fiber Optic' 'Cable' 'Other']

Avg Monthly GB Download
Number of unique values: 50
Unique Values: [21 51 26 47 11 69  8  0 16 58]
max : 85
min : 0

Device Protection Plan
Number of unique values: 2
Unique Values: ['No' 'Yes']

Premium Tech Support
Number of unique values: 2
Unique Values: ['No' 'Yes']

Streaming Music
Number of unique values: 2
Unique Values: ['No' 'Yes']

Unlimited Data
Number of unique values: 2
Unique Values: ['Yes' 'No']

Monthly Charge
Number of unique values: 1585
Unique Values: [ 53.85  70.7   99.65 104.8  103.7   55.2   39.65  20.15  99.35  30.2 ]
max : 118.75
min : 18.25

Total Refunds
Number of unique values: 500
Unique Values: [ 0.   45.61 13.43  8.74  4.48 36.6  33.43 40.95 45.44 18.55]
max : 49.79
min : 0.0

Total Extra Data Charges
Number of unique values: 16
Unique Values: [  0  20  80  10  40 120  90 140 100  30]
max : 150
min : 0

Total Long Distance Charges
Number of unique values: 6110
Unique Values: [  20.94   18.24   97.2   136.92 2172.17   94.1     0.     33.58 1473.45
  689.35]
max : 3564.72
min : 0.0

Total Revenue
Number of unique values: 6996
Unique Values: [ 129.09  169.89  917.7  3182.97 7208.47  622.45   59.65   53.73 6222.6
   30.2 ]
max : 11979.34
min : 21.36

Status ID
Number of unique values: 7043
Unique Values: ['SUDNGT6444' 'KZSZDV8891' 'EPTIUU1269' 'PAJIVH8196' 'RXFOMV1173'
 'JFOFHU2246' 'SWSORB1252' 'LXIWPV2763' 'SPVBUS9328' 'ZUPEKW1663']

Satisfaction Score
Number of unique values: 5
Unique Values: [1 2 3 4 5]
max : 5
min : 1

Customer Status
Number of unique values: 3
Unique Values: ['Churned' 'Joined' 'Stayed']

Churn Category
Number of unique values: 6
Unique Values: ['Competitor' 'Other' 'Price' 'Dissatisfaction' 'Attitude'
 'Not Applicable']

In [39]:
#for "Multiple Lines" column
df["Multiple Lines"] = np.where(df["Multiple Lines"] == "No phone service", "No", df["Multiple Lines"])
# df["Multiple Lines"] = df["Multiple Lines"].replace({"No phone service": "No"}) 
df["Multiple Lines"].value_counts()

Multiple Lines
No     4072
Yes    2971
Name: count, dtype: int64

In [40]:
#columns in which we want to replace "No internet service" with "No"
cols_to_change = ["Online Security", "Online Backup", "Device Protection", "Tech Support", "Streaming TV", "Streaming Movies"]
df[cols_to_change] = np.where(df[cols_to_change] == "No internet service", "No", df[cols_to_change])

In [41]:
# group tnure into bins 
df["Tenure Bins"] = pd.cut(df['Tenure in Months'], [0, 12, 24, 48, 60, 72])
print(df.value_counts("Tenure Bins"))
df["Tenure Bins"].value_counts()

Tenure Bins
(0, 12]     2186
(24, 48]    1594
(60, 72]    1407
(12, 24]    1024
(48, 60]     832
Name: count, dtype: int64

Tenure Bins
(0, 12]     2186
(24, 48]    1594
(60, 72]    1407
(12, 24]    1024
(48, 60]     832
Name: count, dtype: int64

In [42]:
df['Population'] = df['Population'].astype(int)

## Removing unnecessary columns

In [43]:
list_of_columns_to_drop = []

In [44]:
for i in ["Customer ID"]:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Customer ID 0    3668-QPYBK
1    9237-HQITU
2    9305-CDSKC
3    7892-POOKP
4    0280-XJGEX
Name: Customer ID, dtype: object

 Number of Unique Values:  7043

In [45]:
for i in ['Count']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Count 0    1
1    1
2    1
3    1
4    1
Name: Count, dtype: int64

 Number of Unique Values:  1

In [46]:
list_of_columns_to_drop.append('Count')

In [47]:
for i in ['Country', 'State']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Country 0    United States
1    United States
2    United States
3    United States
4    United States
Name: Country, dtype: object

 Number of Unique Values:  1
State 0    California
1    California
2    California
3    California
4    California
Name: State, dtype: object

 Number of Unique Values:  1

In [48]:
list_of_columns_to_drop.append('Country')
list_of_columns_to_drop.append('State')

In [49]:
for i in ['Churn', 'Churn Label']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Churn 0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: Churn, dtype: object

 Number of Unique Values:  2
Churn Label 0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: Churn Label, dtype: object

 Number of Unique Values:  2

In [50]:
(df["Churn"] == df["Churn Label"]).all()

True

In [51]:
list_of_columns_to_drop.append('Churn Label')

In [52]:
for i in ['Location ID', 'ID']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Location ID 0    PZZUIT6837
1    CKNALR2542
2    VCQKYE1638
3    SNLISG8671
4    YTSGZA8582
Name: Location ID, dtype: object

 Number of Unique Values:  7043
ID 0     3
1     5
2     6
3     9
4    14
Name: ID, dtype: int64

 Number of Unique Values:  1652

In [53]:
list_of_columns_to_drop.append('Location ID')

In [54]:
# According to the defination of column given in dataset - this column was just used to identify row number in population table and does not correspond to any info about our users 
list_of_columns_to_drop.append("ID")

In [55]:
for i in ['Service ID', 'Status ID']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Service ID 0    ZLZTZWPWE3351
1    GXJVSQIYH4715
2    KDUHHRQBI5663
3    WXXQTNEZW3786
4    LTNFDWAMC2575
Name: Service ID, dtype: object

 Number of Unique Values:  7043
Status ID 0    SUDNGT6444
1    KZSZDV8891
2    EPTIUU1269
3    PAJIVH8196
4    RXFOMV1173
Name: Status ID, dtype: object

 Number of Unique Values:  7043

In [56]:
list_of_columns_to_drop.append("Service ID")
list_of_columns_to_drop.append("Status ID")

In [57]:
for i in ['Quarter']:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

Quarter 0    Q3
1    Q3
2    Q3
3    Q3
4    Q3
Name: Quarter, dtype: object

 Number of Unique Values:  1

In [58]:
list_of_columns_to_drop.append("Quarter")

In [59]:
for i in ["LoyaltyID"]:
    print(i, df[i].head())
    print("\n Number of Unique Values: ", df[i].nunique())

LoyaltyID 0    326527
1    503388
2    160192
3    582674
4    933642
Name: LoyaltyID, dtype: int64

 Number of Unique Values:  7021

In [60]:
list_of_columns_to_drop.append("LoyaltyID")

In [61]:
list_of_columns_to_drop.append("Tenure")
list_of_columns_to_drop.append("Tenure Months")
list_of_columns_to_drop.append("Churn")
list_of_columns_to_drop.append("Internet Type")
list_of_columns_to_drop.append("Monthly Charge")
list_of_columns_to_drop.append("Tenure in Months")

In [62]:
list_of_columns_to_drop.append("Lat Long")
list_of_columns_to_drop.append("Zip Code")
list_of_columns_to_drop.append("City")

In [63]:
# Data leakage
list_of_columns_to_drop.append("Churn Reason")
list_of_columns_to_drop.append("Churn Category")
list_of_columns_to_drop.append("Customer Status")
list_of_columns_to_drop.append("CLTV")
list_of_columns_to_drop.append("Churn Score")
list_of_columns_to_drop.append("Monthly Charges")
list_of_columns_to_drop.append("Total Charges")

In [64]:
list(set(list_of_columns_to_drop))

['ID',
 'State',
 'Monthly Charge',
 'Internet Type',
 'Churn Label',
 'Tenure in Months',
 'Churn',
 'Status ID',
 'Quarter',
 'Total Charges',
 'Churn Category',
 'Country',
 'Lat Long',
 'Zip Code',
 'Count',
 'Location ID',
 'Churn Score',
 'Service ID',
 'Tenure Months',
 'City',
 'LoyaltyID',
 'Tenure',
 'Churn Reason',
 'CLTV',
 'Customer Status',
 'Monthly Charges']

In [65]:
df.drop(list_of_columns_to_drop, axis = 1, inplace = True)

In [66]:
df['Satisfaction Score Label'] = df['Satisfaction Score'].astype('category')

In [67]:
df[['Satisfaction Score Label', 'Satisfaction Score']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Satisfaction Score Label  7043 non-null   category
 1   Satisfaction Score        7043 non-null   int64
dtypes: category(1), int64(1)
memory usage: 62.2 KB

In [68]:
df.rename(columns = {'Churn Value' : 'Churn'}, inplace = True)

In [70]:
df.to_csv('./Telecommunications_Industry/' + "Selected_columns_customer_churn.csv")

## EDA (Exploratory Data Analysis)

In [ ]:
df.info()

In [ ]:
df.set_index('Customer ID', inplace=True)

In [ ]:
#let's take a look at our target label - "Churn" first
counts = [(df["Churn"] == 1).sum(), (df["Churn"] == 0).sum()]
counts
plt.pie(counts, labels = ["Churn", "Not Churn"], autopct='%.0f%%')
plt.show()

In [ ]:
for col in df.columns.tolist():
    if col != "Churn" and df[col].dtype == 'object':
        plt.figure()
        sns.histplot(df, hue="Churn", x = col, shrink=.7, multiple="layer")
        plt.show()
    elif df[col].dtype == 'category':
        temp = df.copy()
        temp[col] = df[col].astype(str)
        plt.figure()
        sns.histplot(temp, hue="Churn", x = col, shrink=.7, multiple="layer")
        plt.show()

In [ ]:
for col in df.columns.tolist():
    if col != "Churn" and df[col].dtype == 'object':
        plt.figure()
        sns.histplot(df, hue="Churn", x = col, shrink=.7, multiple="fill")
        plt.show()
    elif df[col].dtype == 'category':
        temp = df.copy()
        temp[col] = df[col].astype(str)
        plt.figure()
        sns.histplot(temp, hue="Churn", x = col, shrink=.7, multiple="fill")
        plt.show()

In [ ]:
# Check the correlation matrix of all features
columns_for_corr = ["Population", "Avg Monthly Long Distance Charges", "Total Refunds", "Total Extra Data Charges", "Total Long Distance Charges", "Total Revenue"]
df_corr = df[columns_for_corr].corr()
sns.heatmap(df_corr, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()

## Data Preparation

In [ ]:
# There is Satisfaction score already
df.drop(["Satisfaction Score Label", 'Total Long Distance Charges'], axis = 1, inplace = True, errors='ignore')

In [ ]:
columns_to_be_encoded = []

for col in df.columns.tolist():
    if(df[col].dtype == 'object' and "Yes" in df[col].unique()):
        columns_to_be_encoded.append(col)

df[columns_to_be_encoded] = np.where(df[columns_to_be_encoded] == "Yes", 1, 0)
df[columns_to_be_encoded] = df[columns_to_be_encoded].astype(int)

In [ ]:
df["Gender"] = np.where(df["Gender"] == "Female", 1, 0)
df["Gender"] = df["Gender"].astype(int)

In [ ]:
df = pd.get_dummies(df, columns = ["Tenure Bins", "Offer", "Payment Method", "Contract", "Internet Service"])

In [ ]:
df.info()

## Model

In [ ]:
X = df.drop(["Churn"], axis = 1)
y = df["Churn"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state = 42, test_size = 0.2, shuffle = True)

In [ ]:
#format the features names:

X.index.names = ['Customer_ID']
X_train.index.names = ['Customer_ID']
X_test.index.names = ['Customer_ID']

X.columns = [col.replace(' ', '_') for col in X.columns.tolist()]
X.columns = [col.replace('(', '_') for col in X.columns.tolist()]
X.columns = [col.replace(')', '') for col in X.columns.tolist()]
X.columns = [col.replace(']', '_') for col in X.columns.tolist()]
X.columns = [col.replace(',', '') for col in X.columns.tolist()]

X_train.columns = X.columns
X_test.columns = X.columns

In [ ]:
#Confirm the splitting is correct:
print("Shape of Training Data : ", "\nfeatures:", X_train.shape, ", target:", y_train.shape)
print("Target Label Distribution in train set : ", "\nChurn:", y_train.sum(), "Not Churn", len(y_train) - y_train.sum())
print("Percentage of Churn:", y_train.sum() / len(y_train) * 100)
print()
print("Shape of Test Data : ", "\nfeatures:", X_test.shape, ", target:", y_test.shape)
print("Target Label Distribution in test set : ", "\nChurn:", y_test.sum(), "Not Churn", len(y_test) - y_test.sum())
print("Percentage of Churn:", y_test.sum() / len(y_test) * 100)

In [ ]:
X.info()

In [ ]:
list_of_models = {
    'logistic_regression' : LogisticRegression(random_state = 42, max_iter = 10000),
    'decision_tree' : DecisionTreeClassifier(max_depth = 5, random_state = 42),
    'Random_forest' : RandomForestClassifier(n_estimators = 150, max_depth = 4, random_state = 42),
    'GBDT' : GradientBoostingClassifier(n_estimators = 150, max_depth = 4, random_state = 42),
    "XGBoost" : xgb.XGBClassifier(n_estimators = 200, max_depth = 5, random_state = 42)
}

In [ ]:
f1_train_scores = [] 
f1_test_scores = [] 
recall_test_scores = []

#model_names = list_of_models.keys()
model_names = ['logistic_regression', 'decision_tree', 'Random_forest', 'GBDT', "XGBoost"]
#model_names = ['GBDT']

for model in model_names:
    print("\nFor Model:", model)
    
    list_of_models[model].fit(X_train, y_train)

    print("\nFor Training Set:")

    y_train_pred = list_of_models[model].predict(X_train)

    f1_train = f1_score(y_train, y_train_pred, average='macro')
    print("\nMacro F1 Score:", f1_train)

    print("\nConfusion Matrix:") 
    confusion_matrix = metrics.confusion_matrix(y_train, y_train_pred)
    cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix = confusion_matrix, display_labels = [False, True])
    cm_display.plot()
    plt.show()

    print("For Test Set:")

    y_test_pred = list_of_models[model].predict(X_test)
    
    f1_test = f1_score(y_test, y_test_pred, average='macro')
    print("\nMacro F1 Score:", f1_test)

    recall_test_score = recall_score(y_test, y_test_pred, average='macro')
    
    print("\nConfusion Matrix:")
    confusion_matrix = metrics.confusion_matrix(y_test, y_test_pred)
    cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix = confusion_matrix, display_labels = [False, True])
    cm_display.plot()
    plt.show()
    
    f1_train_scores.append(f1_train)
    f1_test_scores.append(f1_test)
    recall_test_scores.append(recall_test_score)

In [ ]:
res = pd.DataFrame({'model_names' : model_names, 'f1_train_scores' : f1_train_scores, 'f1_test_scores' : f1_test_scores, 'recall_test_scores' : recall_test_scores})
res

In [ ]:
feature_importance = abs(list_of_models['logistic_regression'].coef_[0])
feature_importance = 100.0 * (feature_importance / feature_importance.max())

data = pd.DataFrame(data=feature_importance, index=X.columns, columns=["score"]).sort_values(by = "score", ascending=False)
data.nlargest(20, columns="score").plot(kind='barh', figsize = (20,10))

## PyCaret

In [ ]:
# !pip install pycaret[full]
# ! pip install scipy==1.11.4
# !pip install --pre pycaret

In [ ]:
from pycaret.classification import *
s = setup(df, target = 'Churn', session_id = 123, fold = 5)

In [ ]:
best = compare_models()

In [ ]:
print(best)

In [ ]:
evaluate_model(best)

In [ ]:
# https://www.kaggle.com/datasets/hanatuangud/bank-card-churn-rate/data?select=BankChurners.csv